.task-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.task-buttons {
   display: flex;
   gap: 10px;
}

.done-btn {
   background-color: #28a745;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.delete-btn {
   background-color: #dc3545;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.task-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
   background-color: #fff;
}

.task-buttons {
   display: flex;
   gap: 10px;
}

.done-btn {
   background-color: #4caf50;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.delete-btn {
   background-color: #f44336;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
}

.task-details {
   margin-bottom: 1rem;
   display: flex;
   flex-direction: column;
}

.details {
   background-color: transparent;
   max-height: 200px;
   overflow-y: auto;
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 0 0 10px 10px;
}

.subtask {
   cursor: pointer; /* Zmiana kursora na wskaźnik */
}

.completed {
   text-decoration: line-through; /* Przekreślenie tekstu */
   color: #999; /* Szary kolor dla przekreślonych subtasków */
}

.check-icon {
   color: var(--check-icon-color);
   font-size: 1.5rem;
   margin-right: 0, 5rem;
}
