.add-task-container {
   background: var(--background-color);
   border: 1px solid var(--border-color);
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin: 20px auto;
   width: 80vw;
   max-width: 600px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.add-task-container__text-container,
.add-task-container__date-container,
.add-task-container__important-container {
   margin-bottom: 1rem;
   width: 100%;
   max-width: 500px;
}

.add-task-container__label {
   display: block;
   font-weight: bold;
   margin-bottom: 0.5rem;
}

.add-task-container input[type="text"],
.add-task-container input[type="date"] {
   border: 1px solid var(--input-border-color);
   border-radius: 4px;
   padding: 10px;
   font-size: 1rem;
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 15px;
   background-color: var(--input-background-color);
   color: var(--input-text-color);
}

.subtask-container {
   background: var(--subtask-background-color);
   border: 1px solid var(--subtask-border-color);
   padding: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 8px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.subtask-header {
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: bold;
}

.subtask-input {
   margin-bottom: 10px;
   width: calc(100% - 20px);
   padding: 8px;
   border: 1px solid var(--subtask-input-border-color);
   border-radius: 4px;
   background-color: var(--subtask-input-background-color);
}

.add-subtask-button {
   background-color: red;
   color: var(--toggle-button-text);
   border: none;
   padding: 10px 15px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, opacity 0.3s;
}

.add-subtask-button:hover {
   background-color: rgb(92, 0, 0);
   opacity: 0.8;
}

.task-list-item {
   margin: 10px 0;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
   transition: background-color 0.3s;
}

.task-list-item:hover {
   background-color: #eaeaea;
}

/* Dark theme adjustments */
.dark-theme .add-task-container {
   background: var(--dark-background-color);
   border: 1px solid var(--dark-border-color);
}

/* Dodaj styl dla dark-theme */
.dark-theme .add-task-container input[type="text"],
.dark-theme .add-task-container input[type="date"] {
   border: 1px solid var(--dark-input-border-color);
   background-color: var(--dark-input-background-color);
   color: var(--dark-input-text-color);
}

.dark-theme .subtask-container {
   background: var(--dark-subtask-background-color);
   border: 1px solid var(--dark-subtask-border-color);
}

.add-task-container input[type="checkbox"] {
   margin-right: 10px;
   cursor: pointer;
   width: 20px;
   height: 20px;
   accent-color: var(--check-color);
   vertical-align: middle;
}

/* Styl dla elementów listy w jasnym motywie */
.list-group-item {
   background-color: var(--light-background-color) !important;
   color: var(--light-text-color) !important;
}

/* Kolor na hover dla jasnego motywu */
.list-group-item:hover {
   background-color: var(--light-hover-background-color) !important;
}

/* Styl dla elementów listy w ciemnym motywie */
.dark-theme .list-group-item {
   background-color: var(--dark-background-color) !important;
   color: var(--dark-text-color) !important;
}

/* Kolor na hover dla ciemnego motywu */
.dark-theme .list-group-item:hover {
   background-color: var(--dark-hover-background-color) !important;
}

/* Styl dla elementów listy w jasnym motywie dla zadania ważnego */
.list-group-item-danger {
   background-color: var(--light-danger-background-color) !important;
   color: var(--light-danger-text-color) !important;
}

/* Kolor na hover dla jasnego motywu z zadaniem ważnym */
.list-group-item-danger:hover {
   background-color: var(--light-danger-hover-background-color) !important;
}

/* Styl dla elementów listy w ciemnym motywie dla zadania ważnego */
.dark-theme .list-group-item-danger {
   background-color: var(--dark-danger-background-color) !important;
   color: var(--dark-danger-text-color) !important;
}

/* Kolor na hover dla ciemnego motywu z zadaniem ważnym */
.dark-theme .list-group-item-danger:hover {
   background-color: var(--dark-danger-hover-background-color) !important;
}

.btn-outline-success {
   margin-bottom: 1rem;
}
